GCP_PROJECT_ID=your-gcp-project
CLOUDSQL_CONNECTION_NAME=your-gcp-project:asia-southeast1:fraud-detection-pg

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:CHANGE_ME_airflow@cloud-sql-proxy:5432/airflow

# MLFLOW_DB=mlflow
# MLFLOW_DB_USER=mlflow
# MLFLOW_DB_PASSWORD=CHANGE_ME_mlflow

# MODEL_STORAGE_BUCKET_NAME=your-model-bucket

POSTGRES_HOST=cloud-sql-proxy
POSTGRES_PORT=5432
POSTGRES_DB=fraud
POSTGRES_USER=app
POSTGRES_PASSWORD=CHANGE_ME_app

AIRFLOW_UID=1000
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=CHANGE_ME_admin
