GCP_PROJECT_ID=
CLOUDSQL_CONNECTION_NAME=

AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN_ASYNC=

AIRFLOW_JWT_SECRET=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
MODEL_STORAGE_BUCKET_NAME=

MLFLOW_DB_USER=
MLFLOW_DB_PASSWORD=
MLFLOW_DB=

AIRFLOW_UID=
AIRFLOW_ADMIN_USER=
AIRFLOW_ADMIN_PASSWORD=

REDIS_HOST=
REDIS_PORT=
REDIS_DB=
REDIS_POOL_MAX_CONNECTIONS=
REDIS_POOL_TIMEOUT_S=

FEAST_REGISTRY_PATH=
